<h2 class="sub_title">Edit Your '<%=@tree_name%>' Tree!</h2>

<form action="/trees/<%=@tree_name%>/edit" method="post">
	<div class="tree_edit_div">
		<div class="tree_edit_field">
			<p class="tree_edit_text">Tree Name:</p>
			<input style="text" name="tree_name" value="<%=@tree_name%>">
		</div>

		<div class="tree_edit_field">
			<p class="tree_edit_text">Tree's Owner ID:</p>
			<input style="text" name="user_id" value="<%=@user_id%>">
		</div>

		<div class="tree_edit_field">
			<p class="tree_edit_text">Root Node ID:</p>
			<input style="text" name="root_id" value="<%=@root_id%>">
		</div>

		<div class="tree_edit_field">
			<p class="tree_edit_text">Description:</p>
			<textarea class="tree_edit_textarea" name="description" rows="3" col="40"><%= @description %></textarea>
		</div>

		<input class="tree_edit_button" type="submit" value="Submit"> 
	</div>
</form>
